{% extends 'layouts/index.html' %}

{% block review %}
    <div class="review">
        {% for reviews in review %}
            <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ reviews.nickname }}</h5>
    <h6 class="card-country">{{ reviews.country }}</h6>
    <p class="card-text">{{ reviews.comment }}</p>
    <h7 class="card-grade">{{ reviews.grade }}</h7>
    <h8 class="card-create">{{ reviews.create_data }}</h8>
    <h9 class="card-modification">{{ reviews.modification_date }}</h9>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
        {% endfor %}
    </div>
{% endblock %}